<% provide(:title, 'About') %>



<div class="container testimonials">
  <div class="row">
    <div class="col-md-4 testimonial">
      <div class="row">
        <div class="avatar col-md-5">
          <a href="#">
            <img class="img-circle" src="http://bootdey.com/img/Content/user_3.jpg" alt="Taylor Otwell">
          </a>
        </div>

        <div class="testimonial-main col-md-7">
          <h4 class="media-heading"><a href="#m">Owenl Ollyt</a></h4>
          <p class="testimony-body">bootstrap rules!</p>
        </div>
      </div>
    </div>

  </div>
</div>