

    <%= render 'layouts/users_search_panel' %>


  <div class="row">
    <% @users.each do |u| %>

        <%= render 'layouts/user_tile', :user => u %>

    <% end %>

  </div>

    <%= will_paginate @users %>
