<% provide(:title, 'My friends') %>


<div class="tabbable" id="tabs-738459" xmlns="http://www.w3.org/1999/html">
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#friends" data-toggle="tab">Friends</a>
    </li>
    <li>
      <a href="#received_requests" data-toggle="tab">Received requests</a>
    </li>
    <li>
      <a href="#sent_requests" data-toggle="tab">Sent requests</a>
    </li>
  </ul>
  <br>
  <div class="tab-content">
    <div class="tab-pane active" id="friends">
      <% @friends.each do |friend| %>
          <%= render 'layouts/user_tile', :user => friend %>
      <% end %>
    </div>
    <div class="tab-pane" id="received_requests">
      <% @friend_requests_received.each do |friend| %>
          <%= render 'layouts/user_tile', :user => friend %>
      <% end %>
    </div>
    <div class="tab-pane" id="sent_requests">
      <% @friend_requests_sent.each do |friend| %>
          <%= render 'layouts/user_tile', :user => friend %>
      <% end %>
    </div>
  </div>
</div>