<footer class="footer">
  <small>
    Copyright © Smirnov Konstantin, <%= Time.now.year %>
  </small>
  <nav>
    <ul>
      <li><%= link_to 'About', about_path %></li>
      <li><%= link_to "Help", help_path %></li>
      <li><a href="http://justforeignblog.tumblr.com/">Our Blog</a></li>
    </ul>
  </nav>
</footer>