<div class="row" xmlns="http://www.w3.org/1999/html">

  <hr>

  <div class="">
    <div class="col-md-2 pull-left image">
      <img src="http://bootdey.com/img/Content/user_3.jpg" class="img-responsive  img-circle">
    </div>
    <div class="col-md-10">
      <div class="title h5">
        <a href="#"><b>Ryan Haywood</b></a>
        made a post.
      </div>
      <h6 class="text-muted time">1 minute ago</h6>

    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>

      <a data-placement="top" class="btn btn-success btn-xs glyphicon glyphicon-ok tip" href="#" title="View"></a>
      <a data-placement="top" class="btn btn-danger  btn-xs glyphicon glyphicon-trash tip" href="#" title="Delete"></a>
      <a data-placement="top" class="btn btn-info  btn-xs glyphicon glyphicon-share tip" href="#" title="Share"></a>
      <a data-placement="top" class="btn btn-info btn-xs glyphicon glyphicon-heart pull-right" href="#" title="Like"></a>

    </div>
  </div>

  </div>


<br>

  <div class=" post">


    <div class="post-footer">
      <div class="input-group">
        <input class="form-control" placeholder="Add a comment" type="text">
                    <span class="input-group-addon">
                        <a href="#"><i class="glyphicon glyphicon-pencil"></i></a>
                    </span>
      </div>

      <ul class="comments-list">

        <li class="comment">
          <a class="pull-left" href="#">
            <img class="avatar" src="http://bootdey.com/img/Content/user_1.jpg" alt="avatar">
          </a>
          <div class="comment-body">
            <div class="comment-heading">
              <h4 class="user">Gavino Free</h4>
              <h5 class="time">5 minutes ago</h5>
            </div>
            <p>Sure, oooooooooooooooohhhhhhhhhhhhhhhh</p>
          </div>
        </li>

        <li class="comment">
          <a class="pull-left" href="#">
            <img class="avatar" src="http://bootdey.com/img/Content/user_1.jpg" alt="avatar">
          </a>
          <div class="comment-body">
            <div class="comment-heading">
              <h4 class="user">Gavino Free</h4>
              <h5 class="time">5 minutes ago</h5>
            </div>
            <p>Sure, oooooooooooooooohhhhhhhhhhhhhhhh</p>
          </div>
        </li>


      </ul>
    </div>

  </div>


